.page-home .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #343a40;
  z-index: 99;
}

.dropdown-menu.w-auto {
  min-width: fit-content; /* Ensures the dropdown adjusts to content width */
  max-width: 200px; /* Optional: set a max width to prevent overflow */
  /* padding: 0.5rem 1rem;   /* Adjust padding for consistent styling */
}

/*scroll styles*/

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 20px;
  height: 35px;
  margin-left: -20px;

  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}
.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;

  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(23px);
  }
}
